<form action="/student/edit/{{student._id}}" method="post">
    <h1>Add new student</h1>
    <label for="">Student birthYear</label><br>
    <input type="number" name="birthYear" min="2000" max="20010" value="{{student.birthYear}}"><br><br>
    <label for="">Student GPA</label><br>
    <input type="number" name="gpa" value="{{student.gpa}}"><br><br>
    <label for="">Student Image</label><br>
    <input type="url" name="image" value="{{student.image}}"><br><br>
    <label for="">Student motherland</label><br>
    <input type="text" name="motherland" value="{{student.motherland}}"><br><br>

    <input type="submit" value="Edit">
</form>